@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<a href="/Product/Details" class="btn btn-info">Products</a>
<br />

<a href="/Category/Create" class="btn btn-info">Add Category</a>
<table class="table table-bordered">

    <tr>
        <th>Id</th>
        <th>Name</th>

    </tr>

    @foreach (var data in Model)
    {

        <tr>
            <td>@data.Id</td>
            <td>@data.Name</td>

            <td><a href="/Category/Update/@data.Id" class="btn btn-primary">Edit</a></td>
            <td><a href="/Category/Delete/@data.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }



</table>


