
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<form action="" method="post">

    <input type="hidden" name="Id" value="@Model.Id" class="form-control" />
    <input type="text" name="Name" value="@Model.Name" class="form-control" />
    <input type="submit" value="Update" />

</form>
